.navigation-home, .navigation {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  position: fixed;
  overflow-x: hidden;
  background-color: transparent;
}

.navigation a {
  padding-bottom: 5px;
  text-decoration: none;
  color: #BFC7D9;
  display: block;
  font-size: 20px;
}

.navigation a:hover {
  color: #FFFFFF;
}

.navigation {
  width: 150px;
}

.header {
  padding-top: 20%;
  padding-left: 150px;
  margin-left: 10%;
  color: #FFFFFF;
  z-index: 1;
}

.homepage {
  overflow: hidden;
}

.aboutme {
  overflow: hidden;
}

.main {
  padding-left: 175px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 20px;
  min-width: 350px;

}

.am-pic {
  margin-left: 20%;
  padding-left: 75px;
  padding-top: 50px;
}

.contact {
  padding-top: 350px;
  font-size: 25px;
  text-align: center;
}

.proj_img_2 {
  text-align: right;
}

.subheading {
  font-size: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #cfd5e2;
}

.date {
  margin-bottom: 20px;
}

.resume {
  padding-top: 45px;
  font-size: 25px;
  text-align: center;
  
}

#quote {
  font-family: "Times New Roman", Times, serif
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
}

h3 {
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
}

img {
  padding-top: 50px;
  padding-right: 100px;
}

* {
  background-color: #3a4660; 
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 350px) {
  h1 {
    font-size:50px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }

  #quote {
    font-size: 30px;
  }

  .am-pic {
    height: 300px;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 35px;
  }

  p {
    font-size: 22px;
  }

  #quote {
    font-size: 40px;
  }

  .am-pic {
    height: 500px;
  }
}